.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
  font-family: Arial, sans-serif;
}

/* Dynamic Background */
.homepage {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  background-repeat: repeat;
  background-size: contain;
}

.stars {
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation: moveStars 20s linear infinite;
}

.twinkling {
  background-image: url("https://www.transparenttextures.com/patterns/dark-matter.png");
  animation: twinkle 2s infinite alternate;
}

/* Animations */
@keyframes moveStars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes twinkle {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/* Content Styles */
.content-container {
  position: relative;
  z-index: 2;
  margin-top: 30%;
  color: #fff;
}
